/* Text Triggering Tooltip Style */
abbr {
	/* Recommended Code Start */	
	display: inline-block;
	/* Recommended Code End */

	border-bottom: 1px dotted #111111;
	cursor: help;
}

/* Tooltip Body Style */
#tooltip
{
	/* Important Code Start
	 *   Delete not recommended */
	position: absolute;
	z-index: 100;
	pointer-events: none;
	/* Important Code End */

	/* Editable Start */
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
	-moz-box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
	box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );


	font-family: Ubuntu, sans-serif;
	font-size: 0.875em;
	line-height: 1.5;
	text-align: center;
	text-shadow: 1px 1px rgba( 0, 0, 0, .5 );
	color: #fff;

	background-color: #00ccaa;
	/* Editable End*/
}

/* Tooltip Arrow Style */
#tooltip:after
{
	position: absolute;
	width: 0px;
	height: 0px;
	bottom: -10px;
	left: 50%;
	margin-left: -5px;

	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 15px solid #00ccaa;

	content: "";
}

/* Tooltip Arrow Style */
#tooltip.top:after
{
	top: -20px;
	bottom: auto;

	border-top-color: transparent;
	border-bottom: 10px solid #00ccaa;
	border-bottom-color: rgba( 0, 0, 0, .6 );
}

/* Tooltip Arrow Style */
#tooltip.left:after
{
	left: 10px;
	margin: 0;
}

/* Tooltip Arrow Style */
#tooltip.right:after
{
	right: 10px;
	left: auto;
	margin: 0;
}
